@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager

@{ ViewData["Title"] = "TravelWind"; }

<h4 class="mt-2 mb-3">Your bookings</h4>

<!-- Notification section starts here -->
<div class="row">
    <div class="col-md-6">
        @if (TempData["Success"] != null) {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>
        }

        @if (TempData["BookReturnTicket"] != null) {
            <div class="alert alert-success" role="alert">
                @TempData["BookReturnTicket"]
            </div>
        }

        @if (TempData["Error"] != null) {
            <div class="alert alert-success" role="alert">
                @TempData["Error"]
            </div>
        }
    </div>
</div>
<!-- Notification section ends here -->

<!-- Checking if there are any existing bookings -->
@if (Enumerable.Count(ViewBag.Bookings) > 0) {
    
    // Bookings list starts here 
    @foreach (var booking in ViewBag.Bookings) {

        <div class="row mb-5">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">

                        @if (booking.IsCanceled) {
                            <span class="badge badge-danger">This journey is canceled</span> 
                            <br><br>
                            <p><span class="badge badge-light">Administrator:</span> @booking.CancellationMessage</p>
                            <hr>
                        }
                        
                        <h3 class="booking__title">
                            <strong>@booking.Journey.Departure - @booking.Journey.Destination</strong>
                            
                            <!-- Checking if a discount is applied to the price  -->
                            @{ var defaultCost = booking.Journey.Price * booking.Passengers; }

                            @if (defaultCost > booking.Cost) {
                                <span class="badge badge-light"><del>$@defaultCost</del></span>
                            } 
                            
                            <span class="badge badge-success">$@booking.Cost</span>
                        </h3>

                        <div class="booking__details">
                            <p><i class="fas fa-users"></i> Passengers: @booking.Passengers</p>
                            <p>@booking.Journey.DepartureTime - @booking.Journey.ArrivalTime</p>

                            @if (Enumerable.Count(booking.Seats) > 0) {
                                <p class="booking__seats-reservations">
                                    <i class="fas fa-chair"></i>
                                    Reserved seats: @foreach (var Seat in booking.Seats) { <span class="badge badge-warning">@Seat.Number</span>}
                                </p>
                            }
                        </div>

                        <form asp-action="CancelBooking" asp-controller="Bookings">
                            <input type="hidden" name="BookingID" value="@booking.BookingID" />

                            @if(booking.IsCanceled) {
                                <input type="submit" value="Delete" class="btn btn-sm btn-light" >
                            } else {

                                @if (booking.Journey.DepartureTime > DateTime.Now) {
                                    <input type="submit" value="Cancel" class="btn btn-sm btn-danger" >
                                } else {
                                    <span class="badge badge-warning">Your train is departed.</span>
                                }
                                
                            }

                        </form>

                    </div>
                </div>

            </div> 

        </div>

    }
    // Bookings list ends here

} else {
    <span class="badge badge-warning">No bookings so far.</span>
}

