@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@model TrainReservation.Models.Journey

@{
    ViewData["Title"] = "Book your next yourney";
}

<div class="row mb-4">
    <div class="col-md-7">
        
        <div class="card">
            <div class="card-body">
                <h3>
                    <strong>@Model.Departure - @Model.Destination</strong>
                    <span class="badge badge-success">$@Model.Price</span>
                </h3>
                <p>@Model.DepartureTime - @Model.ArrivalTime</p>
                <p class="mb-0"><i class="fas fa-train"></i> @Model.Train.Name</p>

                <hr>

                <form asp-action="BookJourney" asp-controller="Bookings">
                    <input type="hidden" name="JourneyID" value="@Model.JourneyID" />
                    <input type="hidden" name="UserID" value="@userManager.GetUserId(User)" />

                    <input type="submit" class="btn btn-sm btn-dark" >

                    <a class="btn btn-sm btn-light ml-2" href="/home">Travel</a> 
                </form>

            </div> <!-- </card-body> -->
        </div> <!-- </card> -->

    </div> <!-- </col> -->

    @if (@Model.AllowSeatReservation) {
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h4>Select your seat(s)</h4>
                <p>If you do not select any seat the system will automatically select for you.</p>
            </div>
        </div> 
    </div>
    }

</div> <!-- </row> -->
